<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mireya.eventsandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3f4041f8d213c2111e4fbaf426aad1a46f4953a5" />

        <activity android:name="com.mireya.eventsandroid.domain.account.create.view.CreateAccount" />
        <activity android:name="com.mireya.eventsandroid.domain.account.addmenu.view.AddMenu" />
        <activity android:name="com.mireya.eventsandroid.domain.account.customers.view.CustomersActivity" />
        <activity android:name="com.mireya.eventsandroid.domain.account.drink.view.DrinkActivity" />
        <activity android:name="com.mireya.eventsandroid.domain.account.login.view.LoginActivity" />
        <activity android:name="com.mireya.eventsandroid.domain.account.local.view.LocalActivity" />
        <activity android:name="com.mireya.eventsandroid.domain.account.promotions.view.PromotionsActivity" />
        <activity android:name="com.mireya.eventsandroid.domain.account.tables.view.TableActivity" />
        <activity android:name="com.mireya.eventsandroid.domain.account.purchases.view.PurchasesActivity"></activity>
    </application>

</manifest>